 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hiya, I’m Anne, a computer programmer in progress. I study Computer Science and the Communication of Science and Technology(CSET) at Vanderbilt University. As a part of the <a href="https://engineering.vanderbilt.edu/bio/christina-marasco">Marasco Laboratory</a>, I’m leading a project to develop a physiological sensor to noninvasively detect markers of disease. I’m designing microcontroller firmware and filters for signal processing. I love what I do and am always looking to enrichen my knowledge of programming and/or embedded systems.
</p>
            </div>
        <div class="col-lg-4">
                    <p>I also love learning and writing about science in general. As a part of my CSET degree I've covered a wide array of topics ranging from archeology to mental health to the traffic patterns of ants. If your thirst for knowledge is as unquenchable as mine, mosey on over to my <a href="https://anneckuckertz.wixsite.com/science-blog">science blog</a> and we can further explore together.</p>
        </div>
        <div class="col-lg-4">
                    <p>Thanks for visiting my digital abode!</p>
        </div>
    </section>
