 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hiya, I’m Anne, a computer programmer in progress. I study Computer Science and the Communication of Science and Technology(CSET) at Vanderbilt University. The past summer(2022) I had the opportunity to work as a software engineering intern for <a href="https://www.quartus.com/">Quartus Engineering</a>, an engineering consulting company in San Diego. At Quartus I contributed to a broad range of both client-facing and internal projects. I quickly became familiar with the .NET framework and applied my new skills to Quartus’s internal framework, including a thread safe Transmission Control Protocol (TCP) test server fixture, a 20% more efficient data buffering system, and a .NET compatible Remote Terminal Unit (RTU) serial communications protocol. I also got to learn and write a Lua script that was then used to generate event logs for client hardware.
</p>
            </div>
        <div class="col-lg-4">
                    <p>Lastly, I love learning and writing about science in general. As a part of my CSET degree I've covered a wide array of topics ranging from archeology to mental health to the traffic patterns of ants. If your thirst for knowledge is as unquenchable as mine, mosey on over to my <a href="https://anneckuckertz.wixsite.com/science-blog">science blog</a> and we can further explore together.</p>
        </div>
        <div class="col-lg-4">
                    <p>Thanks for visiting my digital abode!</p>
        </div>
    </section>
