 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hiya, I’m Anne, a computer programmer and medical devices engineer in progress. I study Computer Science and the Communication of Science and Technology at Vanderbilt University. As a part of the Marasco laboratory, I’m independently developing a physiological sensor to noninvasively detect markers of disease. I’m designing microcontroller firmware and filters for signal processing. I love what I do and am always looking to enrichen my knowledge of programming and/or embedded systems.
</p>
                </div>
             <!--   <div class="col-lg-4">
                    <p>Thanks for visiting my digital abode!</p>
        </div>-->
    </section>
